body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%; 
    max-width: 660px;
    margin: auto;
    padding-top: 20px;
}

.section {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.section label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.section textarea {
    width: calc(100% - 30px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.field-group {
    display: flex;
    justify-content: space-between;
}

.side-by-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.small-input {
    width: 67px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.text-input {
    flex-grow: 1;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.submit-section button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: auto; /* Butonun genişliğini otomatik ayarla */
  /*  display: inline-block;  Butonu satır içi eleman yap */
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .field-group, .side-by-side {
        flex-direction: column;
    }
    .text-input {
        margin-top: 10px; /* Mobil görünümde düzeni korumak için */
    }
}
